@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #f0f8ff, #e0f2ff);
  width: 80%;
  align-items: center;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}
